@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');


body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    position: relative;
    top: 100px;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: 'Gabarito', sans-serif;
    overflow: hidden;
    touch-action: none;
}

#score-field {
    position: absolute;
    top: -10%;
}

#touch-field {
    position: absolute;
    top: 15%;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 100px 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    
    width: 100px;
    height: 150px;
    background-color: ghostwhite;
    border: 1px solid #ccc;
    /* cursor: url('cur_grab1.png'), grab; */
}

.card:active {
    cursor: url('cur_grab2.png'), grab;
    background-color: papayawhip;
}

.hide {
    opacity: 0;
}

.p1-result,
.p2-result {
    color: red;
}

#cover {
    position: absolute;
    display: block;
    width: 400px;
    height: 400px;
    background-color: rgba(127, 255, 212, 0);
    z-index: -1;
}